body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: dodgerblue;
    color: white;
}

header > nav > ul {
    list-style-type: none;
}

aside > form > ul {
    list-style-type: none;
}

.comments {
    list-style-type: none;
}

footer {
    background-color: dodgerblue;
    color: white;
    text-align: center;
}